.cards > * {
  margin: 0;
  padding: 10px;
}

.cards > * {
  margin: 0;
  padding: 10px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--box-border-grey);
  border-radius: 4px;
  background-color: var(--box-grey);
  height: 136px;
}

.right-modal__content .card {
  flex-direction: column;
}

.bottom__content .card {
  border: 1px solid var(--box-border-grey);
  background-color: white;
  margin: 0 15px;
  width: 100%;
}

.bottom__content .card:first-child {
  margin-left: 0;
}

.bottom__content .card:last-child {
  margin-right: 0;
}

.card .card-header {
  font-weight: 200;
  font-size: 1em;
  margin: 7px 0;
  text-align: center;
  color: var(--box-title);
}

.bottom__content .card .card-header {
  position: absolute;
  top: 5px;
  line-height: 1.2em;
  padding: 0 5px;
}

.card .card-body {
  font-size: 1.5em;
  font-weight: 200;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1em;
}

.card .numbers {
  font-weight: 400;
  margin-right: 5px;
}

.card .icon-big {
  font-size: 3em;
  text-align: center !important;
}

.card .card-category {
  font-size: 0.875rem;
  font-weight: 400;
  color: #9A9A9A;
}

.card .numbers p {
  margin-bottom: 0;
}

.card img {
  height: 36px;
  margin-bottom: 3px;
}